@model CommonSolution.DTOs.DTO_Usuario

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Registro de Usuario</h2> <p class="text-danger-validate">@ViewBag.errores</p>


@using (Html.BeginForm("RegistrarSubmit", "UsuarioPublico"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <p>Nombre Usuario: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Contraseña: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Nombre: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Apellido: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Correo Electrónico: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.correoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Teléfono: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrarse" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Volver a login", "Login")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
