@model CommonSolution.DTOs.DTO_TipoReclamo

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Estás seguro que quieres borrar el tipo de reclamo?</h3>
@Html.ValidationMessage("MsgReport", new { @class = "text-danger-validate" })
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm("BorrarTipoReclamo", "TipoReclamo", new { id = Model.id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Listar")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}