
@{
    ViewBag.Title = "Listar";
}

<h2>Lista de reportes</h2>

<table class="table">

    <tr>
        <td>
            Reclamos asignados por cuadrilla
        </td>
        <td>
            @Html.ActionLink("Ver", "PrimerReporte")
        </td>
    </tr>

    <tr>
        <td>
            Reclamos atrasados
        </td>
        <td>
            @Html.ActionLink("Ver", "SegundoReporte")
        </td>
    </tr>

    <tr>
        <td>
            Cuadrillas más eficientes
        </td>
        <td>
            @Html.ActionLink("Ver", "TercerReporte")
        </td>
    </tr>

    <tr>
        <td>
            Visor de reclamos
        </td>
        <td>
            @Html.ActionLink("Ver", "CuartoReporte")
        </td>
    </tr>

    <tr>
        <td>
            Mapa térmico
        </td>
        <td>
            @Html.ActionLink("Ver", "QuintoReporte")
        </td>
    </tr>

</table>

