@model IEnumerable<CommonSolution.DTOs.DTO_Reclamo>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de reclamos</h2>
<p>Para acceder a opciones: ⮥</p>
@Html.ValidationMessage("MsgReport", new { @class = "text-danger-validate" })
<br />
<br />

<table class="table">
    <tr>
        <th>
            Número
        </th>
        <th>
            Fecha/Hora
        </th>
        <th>
            Estado
        </th>
        <th>
            Tipo de reclamo
        </th>
        <th>
            Zona
        </th>
        <th>
            Cuadrilla
        </th>
        <th>
            Situación
        </th>
        <th>
            Historial
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fchaHora)
            </td>
            <td>
                @if (item.situacion == "1")
                {
                    @Html.DisplayFor(modelItem => item.estado) <text> </text>
                    @Html.ActionLink("⮥", "EditarEstado", new { numeroReclamo = item.numero })
                }
                else if (item.estado == "RESUELTO" || item.estado == "DESESTIMADO")
                {
                    @Html.DisplayFor(modelItem => item.estado)
                }else
                {
                <text>DESESTIMADO POR CLIENTE</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoReclamo.nombre)
            </td>
            <td>
                @if (item.zona == null)
                {
                    <text>No asignada</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.zona.nombre)
                }
            </td>
            <td>
                @if (item.numeroCuadrilla == null)
                {
                    <text>No asignada</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.cuadrilla.nombre)
                }
            </td>
            <td>
                @if (item.situacion == "0")
                {
                    <text>Inactivo</text>
                }
                else
                {
                    <text>Activo</text>
                }
            </td>
            <td>
                @Html.ActionLink("Ver", "Historial", new { numero = item.numero })
            </td>
        </tr>
    }

</table>
